# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
/.next/
/out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sensitive files
create_repo.ps1
delete_repo.ps1
.cursor/rules/rule_credentials.mdc 